@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap");
body {
  font-family: "Sen", sans-serif;
  line-height: 1.6;
  letter-spacing: 1px;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-wrap: break-word;
  word-wrap: break-word;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: black;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.arrow {
  border-radius: 4px;
  width: 35px;
  height: 35px;
  background-color: #e5a44b;
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: none;
  line-height: 35px;
  text-align: center;
}

.arrow i {
  color: #1e1e1e;
}

#navBar ul li {
  font-size: 16px;
  padding-left: 15px;
}

#navBar ul li a {
  color: #e5a44b;
  padding: 15px;
  font-weight: 600;
  line-height: 1.15;
  position: relative;
}

#navBar ul li a::before, #navBar ul li a::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #e5a44b;
  position: absolute;
  left: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#navBar ul li a::after {
  bottom: 0%;
  -webkit-transform-origin: right;
          transform-origin: right;
}

#navBar ul li a::before {
  top: 0;
  -webkit-transform-origin: left;
          transform-origin: left;
}

#navBar ul li a:hover:after, #navBar ul li a:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

#navBar .navbar-toggler {
  border: 1px solid #e5a44b;
}

#navBar .navbar-toggler .navbar-toggler-icon {
  background-color: #e5a44b;
}

#hero-section {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(4, 9, 30, 0.5)), to(rgba(4, 9, 30, 0.5))), url(../images/hero-bg1.jpg) repeat fixed 100%;
  background: linear-gradient(rgba(4, 9, 30, 0.5), rgba(4, 9, 30, 0.5)), url(../images/hero-bg1.jpg) repeat fixed 100%;
  background-size: cover;
  height: 100%;
}

#hero-section .hero-content {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: start;
}

#hero-section .hero-content .login-box {
  margin-top: 8px;
  height: auto;
  background: black;
  text-align: center;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

#hero-section .hero-content .login-key {
  height: 100px;
  line-height: 100px;
  -webkit-text-fill-color: transparent;
}

#hero-section .hero-content .login-title {
  margin-top: 15px;
  text-align: center;
  font-size: 30px;
  letter-spacing: 2px;
  margin-top: 15px;
  font-weight: bold;
  color: #e5a44b;
}

#hero-section .hero-content .login-form {
  margin-top: 25px;
  text-align: left;
}

#hero-section .hero-content input[type="text"] {
  background-color: #1a2226;
  border: none;
  border-bottom: 2px solid #e5a44b;
  border-top: 0px;
  border-radius: 0px;
  font-weight: bold;
  outline: 0;
  margin-bottom: 20px;
  padding-left: 0px;
  color: #ecf0f5;
}

#hero-section .hero-content input[type="password"] {
  background-color: #1a2226;
  border: none;
  border-bottom: 2px solid #e5a44b;
  border-top: 0px;
  border-radius: 0px;
  font-weight: bold;
  outline: 0;
  padding-left: 0px;
  margin-bottom: 20px;
  color: #ecf0f5;
}

#hero-section .hero-content .form-group {
  margin-bottom: 40px;
  outline: 0px;
}

#hero-section .hero-content .form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 2px solid #0db8de;
  outline: 0;
  background-color: #1a2226;
  color: #ecf0f5;
}

#hero-section .hero-content input:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0;
          box-shadow: 0 0 0;
}

#hero-section .hero-content label {
  margin-bottom: 0px;
}

#hero-section .hero-content .form-control-label {
  font-size: 10px;
  color: #6c6c6c;
  font-weight: bold;
  letter-spacing: 1px;
}

#hero-section .hero-content .btn-outline-primary:hover {
  background-color: black;
  right: 0px;
}

#hero-section .hero-content .login-btm {
  float: left;
  text-align: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#hero-section .hero-content .login-btm a {
  font-size: 10px;
  color: #6c6c6c !important;
  font-weight: bold;
  letter-spacing: 1px;
}

#hero-section .hero-content .login-btm span {
  margin-bottom: 20px;
}

#hero-section .hero-content .login-button {
  padding-right: 0px;
  text-align: center;
  margin-bottom: 25px;
}

#hero-section .hero-content .login-button .btn-outline-primary {
  border-color: #e5a44b;
  color: #e5a44b;
  border-radius: 0px;
  font-weight: bold;
  letter-spacing: 1px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#hero-section .hero-content .login-button .btn-outline-primary:hover {
  background-color: #e5a44b !important;
  color: white;
}

#hero-section .hero-content .login-text {
  text-align: left;
  padding-left: 0px;
  color: #a2a4a4;
}

#hero-section .hero-content .loginbttm {
  padding: 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

#hero-section .hero-content .loginbttm .Forgot {
  text-decoration: none;
  padding-bottom: 20px;
  font-size: 10px;
  color: #6c6c6c;
  font-weight: bold;
  letter-spacing: 1px;
  position: relative;
  top: -20px;
}

#hero-section .hero-content .loginbttm .Forgot:hover {
  color: #e5a44b;
}

#contact-us {
  background-color: #1e1e1e;
  padding: 50px;
  margin: 80px 0px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

#contact-us span {
  font-size: 30px;
  font-weight: 700;
  color: #bcb4b4;
}

#contact-us .color-black {
  color: #BCB4B4;
}

#contact-us .color-gold {
  color: #e5a44b !important;
}

#contact-us a {
  margin-top: 15px;
  text-decoration: none;
  text-align: center;
  padding: 10px 25px;
  font-size: 1rem;
  color: white;
  background-color: #e5a44b;
}

footer .widget-title {
  position: relative;
  left: 10px;
  font-weight: 800;
  font-size: 16px;
  color: #e5a44b;
  line-height: 1.5;
  text-transform: uppercase;
}

footer li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 100%;
  margin-top: 25px;
}

footer .oceanwp-info-wrap {
  padding-left: 15px;
  margin-bottom: 10px;
}

footer .oceanwp-info-wrap .oceanwp-contact-title {
  color: #e5a44b !important;
  font-weight: bold;
  line-height: 1.4;
  margin-bottom: 20px;
}

footer .oceanwp-info-wrap .oceanwp-contact-text {
  width: 100%;
  line-height: 18px;
  display: block;
  color: #bcb4b4;
}

footer .oceanwp-info-wrap a {
  width: 100%;
  color: #bcb4b4;
  cursor: pointer;
}

footer #footer-bottom #footer-bottom-inner {
  margin-top: 30px;
  margin-bottom: 30px;
}

footer #footer-bottom #footer-bottom-inner #copyright {
  color: #BCB4B4;
}

.hero-section-about {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(4, 9, 30, 0.5)), to(rgba(4, 9, 30, 0.5))), url(../images/hero-bg.jpg) repeat fixed 100%;
  background: linear-gradient(rgba(4, 9, 30, 0.5), rgba(4, 9, 30, 0.5)), url(../images/hero-bg.jpg) repeat fixed 100%;
  background-size: cover;
  height: 100%;
}

.hero-section-about .hero-content {
  padding-top: 50px;
}

.hero-section-about .hero-content h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 30px;
  color: #e5a44b;
  text-transform: uppercase;
}

.hero-section-about .hero-content p {
  font-size: 1rem;
  line-height: 30px;
  color: #bcb4b4;
  text-align: start;
  font-weight: 600;
}

.hero-section-contact {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(4, 9, 30, 0.5)), to(rgba(4, 9, 30, 0.5))), url(../images/hero-bg2.jpg) repeat fixed 100%;
  background: linear-gradient(rgba(4, 9, 30, 0.5), rgba(4, 9, 30, 0.5)), url(../images/hero-bg2.jpg) repeat fixed 100%;
  background-size: cover;
  height: 100%;
}

.hero-section-contact .hero-content .color-gold {
  color: #e5a44b !important;
}

.hero-section-privacy {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(4, 9, 30, 0.5)), to(rgba(4, 9, 30, 0.5))), url(../images/hero-bg3.jpg) repeat fixed 100%;
  background: linear-gradient(rgba(4, 9, 30, 0.5), rgba(4, 9, 30, 0.5)), url(../images/hero-bg3.jpg) repeat fixed 100%;
  background-size: cover;
  height: 100%;
}

.hero-section-privacy ul li {
  font-size: 30px;
  color: #bcb4b4;
  font-weight: 600;
}

#approach {
  background-color: #1e1e1e;
  text-align: center;
  padding: 50px;
  margin: 80px 0px;
}

#approach h2 {
  font-size: 20px;
  font-weight: 500;
  color: #e5a44b;
  text-transform: uppercase;
}

#approach .underline {
  height: 2px;
  background-color: #e5a44b;
  width: 100px;
  margin: 30px auto;
}

#approach p {
  font-size: 30px;
  color: #bcb4b4;
  font-weight: 600;
}

#description {
  padding: 20px;
  margin: 5vh 0px;
}

#description p {
  color: #e5a44b;
  font-size: 22px;
  font-weight: 400;
}

#investment {
  padding: 20px;
  margin: 80px 0px;
}

#investment h2 {
  font-size: 20px;
  font-weight: 500;
  color: #e5a44b;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 40px;
}

#investment .underline {
  height: 2px;
  background-color: #e5a44b;
  width: 100px;
  margin: 30px auto;
}

#investment .Criteria-card {
  height: 100%;
  padding: 16px 8px 24px;
  text-align: center !important;
  border: 1px solid #e5a44b;
}

#investment .Criteria-card .CC-title {
  color: #e5a44b;
  margin-top: 16px;
  font-size: 20px;
  font-weight: 600;
}

#investment .Criteria-card .CC-list ul {
  margin-top: 6px;
}

#investment .Criteria-card .CC-list ul li {
  color: #bcb4b4;
  margin-top: 4px;
  text-align: start;
  font-size: 16px;
}

#industryfocus {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(4, 9, 30, 0.5)), to(rgba(4, 9, 30, 0.5))), url(../images/hero-bg.jpg) repeat fixed 100%;
  background: linear-gradient(rgba(4, 9, 30, 0.5), rgba(4, 9, 30, 0.5)), url(../images/hero-bg.jpg) repeat fixed 100%;
  background-size: cover;
  height: 100%;
  text-align: center;
  padding: 10vh 0px;
}

#industryfocus h2 {
  font-size: 20px;
  font-weight: 500;
  color: #e5a44b;
  text-transform: uppercase;
}

#industryfocus .underline {
  height: 2px;
  background-color: #e5a44b;
  width: 100px;
  margin: 30px auto;
}

#industryfocus ul {
  padding: 20px;
  list-style: none;
}

#industryfocus ul li {
  margin-top: 30px;
}

#industryfocus ul li a {
  padding: 10px 25px;
  border: 1px solid #e5a44b;
  font-size: 30px;
  color: #bcb4b4;
  font-weight: 600;
  margin-top: 20px;
  text-decoration: none;
}

.contact-btn {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.contact-btn a:hover {
  background: #3071a9;
}
/*# sourceMappingURL=style.css.map */